<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Configuración Conexión</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="form-title">Parámetros MYSQL</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" action="#" id="primal-form">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ip Servidor</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="ip_serv" placeholder="Ip Servidor" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Usuario DB</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="user" placeholder="Usuario DB" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Contraseña DB</label>
                                <div class="col-sm-9">
                                    <input type="password"  maxlength="120"  class="form-control" name="pass" placeholder="Contraseña DB" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Esquema DB</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="schema" placeholder="Esquema DB" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Puerto N°</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="port" placeholder="Puerto N°" required="required" value="3096">
                                </div>
                            </div>

                            <div class="row form-buttons">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2 text-center">
                                            <button class="btn btn-primary" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="form-title">API </h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" action="#" id="primal-form2">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Servidor</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="api_serv" placeholder="Servidor API" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Usuario</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="api_user" placeholder="Usuario" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">API KEY</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="120"  class="form-control" name="api_pass" placeholder="API KEY" required="required">
                                </div>
                            </div>

                            <div class="row form-buttons">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2 text-center">
                                            <button class="btn btn-primary" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
