<!-- Creado con XMUG v0.1.00 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Acopio Pallets</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" data-maincontainerform style="display: none">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="form-title">Crear Pallets </h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" action="#" id="primal-form">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Producto</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b chosen-select" name="idproducto" data-placeholder="Seleccione Producto" required="required">
                                [:PRODUCTOS:]
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Peso Base</label>
                        <div class="col-sm-9">
                            <input type="number"  class="form-control" name="peso_base" placeholder="Peso Base" required="required">
                        </div>
                    </div>

                    <input type="hidden" name="idpallet" id="idpallet" value="0" class="pk_form"/>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2 text-center">
                            <a class="btn btn-white" href="#" data-cancel_form>Cancelar</a>
                            &nbsp;
                            &nbsp;
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row m-b-table">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="title-table">Listado de Pallets</h5>
                <div class="ibox-tools">
                    <button type="button" class="btn btn-w-m btn-primary" data-addnew>Agregar Pallet</button>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover table-crud" data-tablemain>
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Producto</th>
                            <th>Total Kilos</th>
                            <th>Total Bandejas</th>
                            <th>Estado</th>
                            <th>Estado Despacho</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        [:LIST_PALLET_DATA_TABLE:]
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

[:EXPLICIT_SCRIPT:]

