<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Acopio Calidad</h2>
    </div>
</div>

<div class="row" data-maincontainerform style="display: none;">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="form-title">Crear Calidad </h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" action="#" id="primal-form">
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Productor</label>
                                <div class="col-sm-9">
                                    <select class="form-control chosen-select" name="idproductor" data-placeholder="Seleccione Productor" required="required">
                                        [:PRODUCTORES:]
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Producto</label>
                                <div class="col-sm-9">
                                    <select class="form-control chosen-select" name="idproducto" data-placeholder="Seleccione Producto" required="required">
                                        [:PRODUCTOS:]
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Moneda de la Compra</label>
                                <div class="col-sm-9">
                                    <select class="form-control chosen-select" name="tipo_moneda" data-placeholder="Seleccione Moneda" required="required">
                                        <option value="1">CLP</option>
                                        <option value="2">USD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Fecha Operación</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="fecha_operacion" required="required">
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Numero de Guía</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="45"  class="form-control" name="num_guia" placeholder="Num Guia" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patente</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="45"  class="form-control" name="patente" placeholder="Patente" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chofer</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="255"  class="form-control" name="chofer" placeholder="Chofer" required="required">
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Cantidad de Muestra Calidad</label>
                                <div class="col-sm-6">
                                    <input type="number"  class="form-control" name="cant_muestra" placeholder="Cantidad de Muestra Calidad" required="required">
                                </div>
                                <div class="col-sm-3" style="padding-top: 9px;margin-left: 0;padding-left: 0;">Gramos</div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Observaciones</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="observaciones" placeholder="Observaciones"></textarea>
                                </div>
                            </div>

                            <input type="hidden" name="idrecepcion" id="idrecepcion" value="0" class="pk_form"/>
                            <input type="hidden" name="qaparams" id="qaparams" value="0"/>

                        </div>
                    </div>
                    
                    <div class="row" data-containercalcond style="display: none;">
                        <div class="col-lg-12">
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped calidad_params pparams" data-error-calidad="0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"><center><b>CALIDAD</b></center></th>
                                            </tr>
                                            <tr>
                                                <th>Parametros </th>
                                                <th>Cantidad grs.</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped condicion_params pparams" data-error-calidad="0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"><center><b>CONDICION</b></center></th>
                                            </tr>
                                            <tr>
                                                <th>Parametros </th>
                                                <th>Cantidad grs.</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-4 col-md-offset-4 m-b-lg">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Total Daños y Defectos:</label>
                                        <div class="input-group col-sm-8">
                                            <input type="number" data-name="tot_danos" class="form-control" readonly="readonly"/><span class="input-group-addon">%</span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Estimado IQF:</label>
                                        <div class="input-group col-sm-8">
                                            <input type="number" data-name="porcentaje_export" class="form-control"  readonly="readonly"/><span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-buttons">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2 text-center">
                                    <a class="btn btn-white" href="#" data-cancel_form>Cancelar</a>
                                    &nbsp;
                                    &nbsp;
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row m-b-table">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="title-table">Listado de Calidad</h5>
                <div class="ibox-tools">
                    <button type="button" class="btn btn-w-m btn-primary" data-addnew>Agregar Calidad</button>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover table-crud" data-tablemain>
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Productor</th>
                            <th>Producto</th>
                            <th>Fecha Operación</th>
                            <th>Num Guía</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        [:LIST_CALIDAD_DATA_TABLE:]
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
