<!-- Creado con XMUG v0.1.00 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Acopio Pesaje</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row" data-maincontainerform style="display: none">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="form-title">Detalle Recepción #<span data-block="folio_pallet"></span></h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" action="#" id="primal-form">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="col control-label" style="width: 36%;float: left;">Fecha Op.</label>
                            <div class="col-sm-7" data-block-container>
                                <span data-block="fecha_operacion"></span>
                            </div>
                        </div>

                        <div class="col" style="  width: 59%;float: left;text-align: right;">
                            <label class="col-sm-2 control-label">Productor</label>
                            <div class="col-sm-8" data-block-container>
                                <span data-block="info_productor"></span>
                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-striped list_pesaje pparams">
                                <thead>
                                    <tr>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Pallet</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control m-b chosen-select" name="idpallet" data-placeholder="Seleccione Pallet" required="required">
                                                                [:FBR_ACOPIOFBR_PALLET:]
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Bandeja</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control m-b chosen-select" name="idbandeja" data-placeholder="Seleccione Bandeja" required="required">
                                                                [:FBR_ACOPIOFBR_ENVASE:]
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-5 control-label">Cantidad</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" class="form-control" name="cant_bandejas" placeholder="Cantidad de Bandejas" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-5 control-label">Peso Neto</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" class="form-control" name="peso_neto" placeholder="Peso Neto" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-5 control-label">Peso Promedio</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" class="form-control" name="peso_promedio_dest" placeholder="Peso Promedio" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4 pull-right">
                                                    <div class="form-group">
                                                        <a class="btn btn-primary" href="#" data-addbandeja>Agregar</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" id="CommunicationError" style="display:none">
                                                <div class="col-lg-12">
                                                    <br />
                                                    <div class="alert alert-danger">
                                                        Se ha encontrado un error de comunicación con la balanza.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 m-t-sm">
                                                    <center><h3>Detalle Pesaje</h3></center>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tipo Bandeja </th>
                                        <th>Bandejas</th>
                                        <th>Peso Prom.</th>
                                        <th>Peso Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <input type="hidden" name="idrecepcion" id="idrecepcion" value="0" class="pk_form"/>
                    <input type="hidden" name="idproducto" id="idproducto" value="0"/>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2 text-center">
                            <a class="btn btn-primary" href="#" data-cancel_form>Terminar</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="form-title">Pallets</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Producto</th>
                            <th>Bandejas Cargadas</th>
                            <th>Bandejas Total</th>
                        </tr>
                    </thead>
                    <tbody class="container-pallets">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row m-b-table">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="title-table">Listado de Recepciones</h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover table-crud" data-tablemain>
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Fecha Operación</th>
                            <th>RUT Productor</th>
                            <th>Nombre Productor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        [:LIST_PESAJE_DATA_TABLE:]
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

[:EXPLICIT_SCRIPT:]

