<!-- Creado con XMUG v0.1.00 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Acopio Despacho</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row" data-maincontainerform style="display: none">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="form-title">Crear Despacho </h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" action="#" id="primal-form">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Fecha Operación</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="fecha_operacion" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Hora Despacho</label>
                                <div class="col-sm-9">
                                    <input type="time" class="form-control" name="hora_despacho" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Numero Guía</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="45" data-verificable="fbr_despacho,num_guia"  class="form-control" name="num_guia" placeholder="Num Guia" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patente</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="8"  class="form-control" name="patente" placeholder="Patente" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nombre Conductor</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="200"  class="form-control" name="nombre_conductor" placeholder="Nombre Conductor" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Primer Sello Camión</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="45"  class="form-control" name="sello_1" placeholder="Primer Sello Camión" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Segundo Sello Camión</label>
                                <div class="col-sm-9">
                                    <input type="text"  maxlength="45"  class="form-control" name="sello_2" placeholder="Segundo Sello Camión" required="required">
                                </div>
                            </div>

                            <input type="hidden" name="iddespacho" id="iddespacho" value="0" class="pk_form"/>
                            <input type="hidden" name="despachodata" id="despachodata" value="{}"/>
                        </div>
                    </div>
                </form>

                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <center><h3>Detalle de Despacho</h3></center>
                    </div>
                </div>


                <div class="row">
                    <form action="#" id="second-form">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover table-striped" id="despachoDetalle">
                                <thead>
                                    <tr>
                                        <td>
                                            <input type="text"  maxlength="200"  class="form-control" name="idpallet" placeholder="Ingrese un Folio" required="required"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-sm mt-2p" type="submit">Agregar</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="nodata">
                                        <td colspan="2">
                                <center><h4>Aún no ha asociado pallets a este despacho</h4></center>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <a class="btn btn-white" href="#" data-cancel_form>Cancelar</a>
                                &nbsp;
                                &nbsp;
                                <button class="btn btn-primary" type="submit" onclick='$("#primal-form").submit()'>Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row m-b-table">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="title-table">Listado de Despacho</h5>
                <div class="ibox-tools">
                    <button type="button" class="btn btn-w-m btn-primary" data-addnew>Agregar Despacho</button>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover table-crud" data-tablemain>
                    <thead>
                        <tr>
                            <th>Fecha Operacion</th>
                            <th>Num Guia</th>
                            <th>Estado</th>
                            <th>Patente</th>
                            <th>Nombre Conductor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        [:LIST_DESPACHO_DATA_TABLE:]
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="PrintGuiaModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h5 class="modal-title">Formato Guía</h5>
            </div>
            <div class="modal-body printer_modal">
                <p>Seleccione el formato para la impresión a continuación.</p>
                <div>
                    <label class="col-sm-3 control-label">Formato</label>
                    <div class="col-sm-9">
                        <select class="form-control m-b chosen-select" name="idconf_impresion" data-placeholder="Formato Impresión" required="required">
                            [:FBR_CONF_IMPRESIONIDCONF_IMPRESION_PKALL:]
                        </select>
                        <input type="hidden" name="iddespacho_selected" id="iddespacho_selected" value="0"/>
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-continueprinter>Generar</button>
            </div>
        </div>
    </div>
</div>

[:EXPLICIT_SCRIPT:]

