<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Sincronización</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="form-title"><i class="fa fa-arrow-circle-down"></i> Desde el Servidor </h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" action="#" id="fromserver-form">

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="productores" id="productores_in" value="1" />
                                    <label for="productores_in"></label>
                                    Productores
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="envases" id="envases_in" value="2" />
                                    <label for="envases_in"></label>
                                    Envases
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="acopio" id="acopio_in" value="3" />
                                    <label for="acopio_in"></label>
                                    Acopios
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="bodega" id="bodega_in" value="4" />
                                    <label for="bodega_in"></label>
                                    Bodegas
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="especies" id="especie_in" value="5" />
                                    <label for="especie_in"></label>
                                    Especies
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="especie_acopio" id="especie_acopio_in" value="6" />
                                    <label for="especie_acopio_in"></label>
                                    Especies por Acopio
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="params" id="params_in" value="7" />
                                    <label for="params_in"></label>
                                    Parametros 
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="params_especie" id="params_especie_in" value="8" />
                                    <label for="params_especie_in"></label>
                                    Parametros por Especies
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="precios_semanales" id="precios_semanales_in" value="9" />
                                    <label for="precios_semanales_in"></label>
                                    Precios Semanales 
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="productos_in" id="productos_in" value="10" />
                                    <label for="productos_in"></label>
                                    Productos 
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="variedades_in" id="variedades_in" value="11" />
                                    <label for="variedades_in"></label>
                                    Variedades 
                                </div>
                            </div>
                            
                            
                            
                            <div class="row form-buttons">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2 text-center">
                                            <button class="btn btn-primary" type="submit">Sincronizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="form-title"><i class="fa fa-arrow-circle-up"></i> Hacia el Servidor </h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" action="#" id="toserver-form">


                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="despachos_out" id="despachos_out" value="1" />
                                    <label for="despachos_out"></label>
                                    Despachos
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label has-magic-checkbox" >
                                    <input type="checkbox" name="envases_out" id="envases_out" value="2" />
                                    <label for="envases_out"></label>
                                    Mov. Envases
                                </div>
                            </div>
                            
                            


                            <div class="row form-buttons">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2 text-center">
                                            <button class="btn btn-primary" type="submit">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
