<!-- Creado con XMUG v0.1.00 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Acopio Cierre</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" data-maincontainerform style="display: none">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="form-title">Resumen Recepción </h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" action="#" id="primal-form">
                    <div class="row">
                        <div class="col-lg-12" id="ResumenReceipt">
                        </div>
                        <input type="hidden" name="idrecepcion" id="idrecepcion" value="0" class="pk_form"/>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2 text-center">
                                    <a class="btn btn-white" href="#" data-cancel_form>Cancelar</a>
                                    &nbsp;
                                    &nbsp;
                                    <button class="btn btn-primary" type="submit">Aprobar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row m-b-table">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="title-table">Listado de Cierre</h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover table-crud" data-tablemain>
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Fecha Operación</th>
                            <th>Productor</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        [:LIST_CIERRE_DATA_TABLE:]
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

[:EXPLICIT_SCRIPT:]

